In [10]:
import sqlite3
import pandas as pd
import numpy as np
import datetime
pd.options.display.max_columns = 1000

In [11]:
class SqliteCore(object):
    def __init__(self, db_path):
        self.connection = sqlite3.connect(db_path)
        self.primary_idx_dict = {}
        
    def creat_table(self, table_name, para_list):
        sql_cmd = 'CREATE TABLE IF NOT EXISTS {}('.format(table_name)
        for idx in range(len(para_list) - 1):
            para_list[idx] += ','
        for para in para_list:
            sql_cmd += para
        sql_cmd += ')'
        self.connection.execute(sql_cmd)
    
    def _add_data(self, table_name, data_df, exists_type='append'):
        data_df.to_sql(table_name, con=self.connection, if_exists=exists_type, index=False)
        
    def _get_primary_idx(self, table_name, primary_key=None):
        if primary_key is None:
            primary_key = table_name + '_id'
        res = pd.read_sql('select * from {} order by {} desc'.format(table_name, primary_key), sql_core.connection)
        cur_primary_id = 0 if res.empty else res.loc[0][primary_key]
        self.primary_idx_dict[table_name] = cur_primary_id
        return cur_primary_id

In [12]:
sql_core = SqliteCore('test.db')
sql_core.creat_table('instrument', [
    'instrument_id int primary key not null',
    'description text not null',
    'ticker text not null',
    'maturity datetime',
    'strike real',
    'option_type text'
])

sql_core.creat_table('market', [
    'market_id int primary key not null',
    'instrument_id',
    'timestamp datetime not null',
    'bid real',
    'ask real',
    'mid real',
    'delta real',
    'IV real',
    'gamma real',
    'thela real',
    'vega real',
    'foreign key (instrument_id) references instrument (instrument_id)'
])

sql_core.creat_table('trade', [
    'trade_id int primary key not null',
    'instrument_id',
    'timestamp datetime not null',
    'qty real not null',
    'price real not null',
    'reason text',
    'foreign key (instrument_id) references instrument (instrument_id)'
])

sql_core.creat_table('position', [
    'position_id int primary key not null',
    'instrument_id',
    'replace_position_id',
    'startdate datetime not null',
    'enddate datetime not null',
    'foreign key (instrument_id) references instrument (instrument_id)',
    'foreign key (replace_position_id) references position (replace_position_id)'
])

# order是关键字
sql_core.creat_table('my_order', [
    'order_id int primary key not null',
    'instrument_id',
    'timestamp datetime not null',
    'qty real not null',
    'order_type real not null',
    'order_price real not null',
    'foreign key (instrument_id) references instrument (instrument_id)'
])

In [13]:
a = pd.read_csv('c3b5b352d23a34cfd555965199c8791c.csv')
a = a.head(20)
print(a)

            symbol           T     K putCall  \
0   AAPL_112522C70  2022-11-25  70.0    CALL
1   AAPL_120222C70  2022-12-02  70.0    CALL
2   AAPL_120922C70  2022-12-09  70.0    CALL
3   AAPL_121622C70  2022-12-16  70.0    CALL
4   AAPL_122322C70  2022-12-23  70.0    CALL
5   AAPL_123022C70  2022-12-30  70.0    CALL
6   AAPL_010623C70  2023-01-06  70.0    CALL
7   AAPL_012023C70  2023-01-20  70.0    CALL
8   AAPL_021723C70  2023-02-17  70.0    CALL
9   AAPL_031723C70  2023-03-17  70.0    CALL
10  AAPL_042123C70  2023-04-21  70.0    CALL
11  AAPL_051923C70  2023-05-19  70.0    CALL
12  AAPL_061623C70  2023-06-16  70.0    CALL
13  AAPL_072123C70  2023-07-21  70.0    CALL
14  AAPL_091523C70  2023-09-15  70.0    CALL
15  AAPL_011924C70  2024-01-19  70.0    CALL
16  AAPL_031524C70  2024-03-15  70.0    CALL
17  AAPL_062124C70  2024-06-21  70.0    CALL
18  AAPL_011725C70  2025-01-17  70.0    CALL
19  AAPL_112522C75  2022-11-25  75.0    CALL

                          description exchangeName    bid    ask   last  \
0   AAPL Nov 25 2022 70 Call (Weekly)          OPR  77.80  78.00  80.30
1    AAPL Dec 2 2022 70 Call (Weekly)          OPR  77.80  78.10   0.00
2    AAPL Dec 9 2022 70 Call (Weekly)          OPR  77.90  78.20  71.90
3            AAPL Dec 16 2022 70 Call          OPR  77.90  78.30  81.40
4   AAPL Dec 23 2022 70 Call (Weekly)          OPR  77.95  78.30   0.00
5   AAPL Dec 30 2022 70 Call (Weekly)          OPR  78.05  78.40  82.00
6    AAPL Jan 6 2023 70 Call (Weekly)          OPR  76.95  80.20   0.00
7            AAPL Jan 20 2023 70 Call          OPR  78.25  78.60  81.55
8            AAPL Feb 17 2023 70 Call          OPR  78.40  78.75  81.55
9            AAPL Mar 17 2023 70 Call          OPR  78.55  79.05  84.35
10           AAPL Apr 21 2023 70 Call          OPR  79.05  79.40  82.30
11           AAPL May 19 2023 70 Call          OPR  79.25  79.75  82.05
12           AAPL Jun 16 2023 70 Call          OPR  79.50  80.15  80.20
13           AAPL Jul 21 2023 70 Call          OPR  79.90  80.65  85.07
14           AAPL Sep 15 2023 70 Call          OPR  80.05  81.35  83.70
15           AAPL Jan 19 2024 70 Call          OPR  81.65  82.85  82.40
16           AAPL Mar 15 2024 70 Call          OPR  81.75  83.60  72.50
17           AAPL Jun 21 2024 70 Call          OPR  82.75  84.80  85.48
18           AAPL Jan 17 2025 70 Call          OPR  84.75  87.35  86.35
19  AAPL Nov 25 2022 75 Call (Weekly)          OPR  72.80  73.00  73.36

     mark  bidSize  askSize bidAskSize  lastSize  highPrice  lowPrice  \
0   77.90       11        8       11X8         0        0.0       0.0
1   77.95       27        6       27X6         0        0.0       0.0
2   78.05       32       31      32X31         0        0.0       0.0
3   78.10       38       27      38X27         0        0.0       0.0
4   78.13       32       51      32X51         0        0.0       0.0
5   78.22       54       67      54X67         0        0.0       0.0
6   78.58       95       95      95X95         0        0.0       0.0
7   78.43        9       16       9X16         0        0.0       0.0
8   78.58       42        9       42X9         0        0.0       0.0
9   78.80       16      102     16X102         0        0.0       0.0
10  79.22       44       29      44X29         0        0.0       0.0
11  79.50       30      151     30X151         0        0.0       0.0
12  79.83       70       80      70X80         0        0.0       0.0
13  80.28       30      100     30X100         0        0.0       0.0
14  80.70      249      137    249X137         0        0.0       0.0
15  82.25      241       50     241X50         0       82.4      82.3
16  82.68       50       50      50X50         0        0.0       0.0
17  83.78      103       82     103X82         0        0.0       0.0
18  86.05       86       50      86X50         0        0.0       0.0
19  72.90       37        6       37X6         0        0.0       0.0

    openPrice  closePrice  totalVolume  tradeDate            tradeTime  \
0         0.0       81.08            0        NaN  2022-11-23 13:41:05
1         0.0       81.12            0        NaN  1969-12-31 19:00:00
2         0.0       81.18            0        NaN  2022-11-10 09:30:58
3         0.0       81.24            0        NaN  2022-11-23 10:00:02
4         0.0       81.36            0        NaN  1969-12-31 19:00:00
5         0.0       81.28            0        NaN  2022-11-23 10:38:23
6         0.0        0.00            0        NaN  1969-12-31 19:00:00
7         0.0       81.64            0        NaN  2022-11-23 15:58:56
8         0.0       82.06            0        NaN  2022-11-23 10:00:43
9         0.0       82.11            0        NaN  2022-11-15 10:07:41
10        0.0       82.53            0        NaN  2022-11-18 13:45:41
11        0.0       82.72            0        NaN  2022-11-23 14:01:40
12        0.0       83.05            0        NaN  2022-11-21 15:26:16
13        0.0       83.62            0        NaN  2022-11-15 11:31:44
14        0.0       84.17            0        NaN  2022-11-23 10:15:11
15        0.0       85.49            2        NaN  2022-11-25 11:11:56
16        0.0       85.99            0        NaN  2022-11-07 11:54:08
17        0.0       87.08            0        NaN  2022-11-22 14:54:50
18        0.0       89.27            0        NaN  2022-11-22 10:42:39
19        0.0       76.08            0        NaN  2022-11-21 14:44:38

              quoteTime  netChange  volatility  delta  gamma  theta   vega  \
0   2022-11-25 11:26:21      -0.78     548.517  0.999  0.000 -0.046  0.000
1   2022-11-25 11:26:05       0.00     163.080  1.000  0.000 -0.020  0.000
2   2022-11-25 11:26:27      -9.28     118.022  1.001  0.000 -0.016  0.001
3   2022-11-25 11:26:07       0.16      97.219  1.002  0.000 -0.017  0.001
4   2022-11-25 11:25:39       0.00      84.620  1.003  0.000 -0.017  0.001
5   2022-11-25 11:26:02       0.72      80.396  1.003  0.000 -0.018  0.001
6   2022-11-25 11:26:08       0.00     112.908  0.989  0.001 -0.044  0.020
7   2022-11-25 11:26:05      -0.09      72.074  1.004  0.000 -0.019  0.005
8   2022-11-25 11:26:16      -0.51      64.370  1.004  0.000 -0.019  0.010
9   2022-11-25 11:26:25       2.24      59.326  1.005  0.000 -0.020  0.016
10  2022-11-25 11:26:12      -0.23      55.401  1.006  0.000 -0.021  0.024
11  2022-11-25 11:26:09      -0.67      54.221  1.006  0.001 -0.021  0.035
12  2022-11-25 11:26:22      -2.85      53.067  1.006  0.001 -0.022  0.045
13  2022-11-25 11:26:19       1.45      50.587  1.008  0.001 -0.022  0.054
14  2022-11-25 11:26:24      -0.47      48.531  1.010  0.001 -0.023  0.073
15  2022-11-25 11:26:16      -3.09      45.672  1.014  0.001 -0.023  0.116
16  2022-11-25 11:26:08     -13.49      44.915  1.015  0.001 -0.022  0.136
17  2022-11-25 11:25:40      -1.60      43.684  1.018  0.001 -0.022  0.170
18  2022-11-25 11:25:39      -2.92      41.175  1.031  0.001 -0.021  0.230
19  2022-11-25 11:26:21      -2.72     500.343  0.999  0.000 -0.046  0.000

      rho  openInterest  timeValue  theoreticalOptionValue  \
0   0.001             7       2.41                  77.885
1   0.015             0       0.06                  78.023
2   0.028             1      -5.99                  78.102
3   0.041           388       3.51                  78.235
4   0.055             0       0.24                  78.374
5   0.068             2       4.11                  78.457
6   0.079             0       0.69                  79.015
7   0.108          3429       3.66                  78.872
8   0.160           326       3.66                  79.291
9   0.212          3495       6.46                  79.749
10  0.276           140       4.41                  80.486
11  0.326           733       4.16                  81.024
12  0.374          3492       2.31                  81.623
13  0.436           224       7.18                  82.320
14  0.532          5755       5.81                  83.458
15  0.737          2486       4.51                  85.926
16  0.824           110      -5.39                  86.971
17  0.973           447       7.59                  88.701
18  1.287           307       8.46                  92.482
19  0.001            14       0.47                  72.885

    theoreticalVolatility  optionDeliverablesList  strikePrice  \
0                    29.0                     NaN         70.0
1                    29.0                     NaN         70.0
2                    29.0                     NaN         70.0
3                    29.0                     NaN         70.0
4                    29.0                     NaN         70.0
5                    29.0                     NaN         70.0
6                    29.0                     NaN         70.0
7                    29.0                     NaN         70.0
8                    29.0                     NaN         70.0
9                    29.0                     NaN         70.0
10                   29.0                     NaN         70.0
11                   29.0                     NaN         70.0
12                   29.0                     NaN         70.0
13                   29.0                     NaN         70.0
14                   29.0                     NaN         70.0
15                   29.0                     NaN         70.0
16                   29.0                     NaN         70.0
17                   29.0                     NaN         70.0
18                   29.0                     NaN         70.0
19                   29.0                     NaN         75.0

    expirationDate  daysToExpiration expirationType       lastTradingDay  \
0    1669410000000                 0              S  2022-11-25 20:00:00
1    1670014800000                 7              S  2022-12-02 20:00:00
2    1670619600000                14              S  2022-12-09 20:00:00
3    1671224400000                21              R  2022-12-16 20:00:00
4    1671829200000                28              S  2022-12-23 20:00:00
5    1672434000000                35              S  2022-12-30 20:00:00
6    1673038800000                42              S  2023-01-06 20:00:00
7    1674248400000                56              R  2023-01-20 20:00:00
8    1676667600000                84              R  2023-02-17 20:00:00
9    1679083200000               112              R  2023-03-17 20:00:00
10   1682107200000               147              R  2023-04-21 20:00:00
11   1684526400000               175              R  2023-05-19 20:00:00
12   1686945600000               203              R  2023-06-16 20:00:00
13   1689969600000               238              R  2023-07-21 20:00:00
14   1694808000000               294              R  2023-09-15 20:00:00
15   1705698000000               420              R  2024-01-19 20:00:00
16   1710532800000               476              R  2024-03-15 20:00:00
17   1719000000000               574              R  2024-06-21 20:00:00
18   1737147600000               784              R  2025-01-17 20:00:00
19   1669410000000                 0              S  2022-11-25 20:00:00

    multiplier settlementType  deliverableNote  isIndexOption  percentChange  \
0        100.0                             NaN            NaN          -0.96
1        100.0                             NaN            NaN           0.00
2        100.0                             NaN            NaN         -11.43
3        100.0                             NaN            NaN           0.20
4        100.0                             NaN            NaN           0.00
5        100.0                             NaN            NaN           0.89
6        100.0                             NaN            NaN           0.00
7        100.0                             NaN            NaN          -0.11
8        100.0                             NaN            NaN          -0.62
9        100.0                             NaN            NaN           2.73
10       100.0                             NaN            NaN          -0.27
11       100.0                             NaN            NaN          -0.81
12       100.0                             NaN            NaN          -3.43
13       100.0                             NaN            NaN           1.73
14       100.0                             NaN            NaN          -0.56
15       100.0                             NaN            NaN          -3.61
16       100.0                             NaN            NaN         -15.69
17       100.0                             NaN            NaN          -1.84
18       100.0                             NaN            NaN          -3.27
19       100.0                             NaN            NaN          -3.58

    markChange  markPercentChange  intrinsicValue  nonStandard  pennyPilot  \
0        -3.18              -3.92           77.89        False        True
1        -3.17              -3.91           77.89        False        True
2        -3.13              -3.85           77.89        False        True
3        -3.14              -3.86           77.89        False        True
4        -3.23              -3.97           77.89        False        True
5        -3.05              -3.76           77.89        False        True
6        78.58               0.00           77.89        False        True
7        -3.21              -3.93           77.89        False        True
8        -3.48              -4.24           77.89        False        True
9        -3.31              -4.03           77.89        False        True
10       -3.30              -4.00           77.89        False        True
11       -3.22              -3.90           77.89        False        True
12       -3.22              -3.88           77.89        False        True
13       -3.35              -4.00           77.89        False        True
14       -3.47              -4.12           77.89        False        True
15       -3.24              -3.79           77.89        False        True
16       -3.32              -3.86           77.89        False        True
17       -3.31              -3.80           77.89        False        True
18       -3.22              -3.61           77.89        False        True
19       -3.18              -4.18           72.89        False        True

    inTheMoney   mini  daysToExpiry
0         True  False             0
1         True  False             7
2         True  False            14
3         True  False            21
4         True  False            28
5         True  False            35
6         True  False            42
7         True  False            56
8         True  False            84
9         True  False           112
10        True  False           147
11        True  False           175
12        True  False           203
13        True  False           238
14        True  False           294
15        True  False           420
16        True  False           476
17        True  False           574
18        True  False           784
19        True  False             0

In [55]:
def market_data_entry_api(sql_core, csv_path):
    new_market_df = pd.DataFrame(columns=[
        'market_id', 'instrument_id', 'timestamp', 'bid', 'ask', 'mid', 'delta', 'IV', 'gamma', 'thela', 'vega'
    ])
    new_instrument_df = pd.DataFrame(columns=[
        'instrument_id', 'description', 'ticker', 'maturity', 'strike', 'option_type'
    ])
    exist_market_df = pd.read_sql('select * from market', sql_core.connection)
#     new_market_df = exist_market_df.drop(labels=[0,len(exist_market_df) - 1],axis=0)
    
    exist_instrument_df = pd.read_sql('select * from instrument', sql_core.connection)
#     new_instrument_df = exist_instrument_df.drop(labels=[0,len(exist_instrument_df) - 1],axis=0)

    cur_market_id = sql_core._get_primary_idx('market')
    cur_instrument_id = sql_core._get_primary_idx('instrument')
    query_instrument_df = exist_instrument_df[['instrument_id', 'description']]
    
    df = pd.read_csv(csv_path)
    for idx, row in df.iterrows():
        if row['symbol'] not in query_instrument_df['description'].values:
            new_instrument_df.loc[len(new_instrument_df)] = {
                'instrument_id': cur_instrument_id + 1,
                'description': row['symbol'],
                'ticker': row['symbol'].split('_')[0],
                'maturity': row['T'],
                'strike': row['strikePrice'],
                'option_type': row['putCall']
            }
            cur_instrument_id += 1
            query_instrument_df = pd.concat(
                [exist_instrument_df[['instrument_id', 'description']],new_instrument_df[['instrument_id', 'description']]],axis=0
            )
        new_market_df.loc[len(new_market_df)] = {
            'market_id': cur_market_id + 1,
            'instrument_id': int(query_instrument_df[query_instrument_df['description'] == row['symbol']]['instrument_id']),
            'timestamp': row['quoteTime'],
            'bid': row['bid'],
            'ask': row['ask'],
            'mid': (row['bid'] + row['ask']) / 2,
            'delta': row['delta'],
            'IV': row['volatility'],
            'gamma': row['gamma'],
            'thela': row['theta'],
            'vega': row['vega']
        }
        cur_market_id += 1
    sql_core._add_data('instrument', new_instrument_df)
    sql_core._add_data('market', new_market_df)
market_data_entry_api(sql_core, 'c3b5b352d23a34cfd555965199c8791c.csv')

   instrument_id description ticker maturity strike option_type
0              1  AAPL_stock   AAPL     None   None        None

In [ ]:
instrument_data = pd.DataFrame({
    'instrument_id': 2,
    'description': 'AAPL_stock',
    'ticker': 'AAPL',
}, index=[0])
sql_core._add_data('instrument', instrument_data)

In [50]:
pd.read_sql('select * from instrument', sql_core.connection)

      instrument_id      description ticker    maturity  strike option_type
0                 1       AAPL_stock   AAPL        None     NaN        None
1                 2       AAPL_stock   AAPL        None     NaN        None
2                 3   AAPL_112522C70   AAPL  2022-11-25    70.0        CALL
3                 4   AAPL_120222C70   AAPL  2022-12-02    70.0        CALL
4                 5   AAPL_120922C70   AAPL  2022-12-09    70.0        CALL
...             ...              ...    ...         ...     ...         ...
2063           2064  AAPL_011924P310   AAPL  2024-01-19   310.0         PUT
2064           2065  AAPL_062124P310   AAPL  2024-06-21   310.0         PUT
2065           2066  AAPL_011725P310   AAPL  2025-01-17   310.0         PUT
2066           2067  AAPL_011924P320   AAPL  2024-01-19   320.0         PUT
2067           2068  AAPL_062124P320   AAPL  2024-06-21   320.0         PUT

[2068 rows x 6 columns]

In [51]:
pd.read_sql('select * from market', sql_core.connection)

,market_id,instrument_id,timestamp,bid,ask,mid,delta,IV,gamma,thela,vega
0,1,1,2022-01-22 16:00:00,11.00,11.00,11.000,11.000,11.000,11.0,11.000,11.0
1,2,1,2022-01-22 16:00:00,77.80,78.00,77.900,0.999,548.517,0.0,-0.046,0.0
2,3,1,2022-01-22 16:00:00,77.80,78.10,77.950,1.000,163.080,0.0,-0.020,0.0
3,4,3,2022-11-25 11:26:21,77.80,78.00,77.900,0.999,548.517,0.0,-0.046,0.0
4,5,4,2022-11-25 11:26:05,77.80,78.10,77.950,1.000,163.080,0.0,-0.020,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2066,2067,2064,2022-11-25 11:26:26,161.25,162.95,162.100,-1.000,29.145,0.0,0.000,0.0
2067,2068,2065,2022-11-25 11:25:49,160.45,163.20,161.825,-1.000,28.598,0.0,0.000,0.0
2068,2069,2066,2022-11-25 11:26:21,159.95,164.30,162.125,-1.000,28.060,0.0,0.000,0.0
2069,2070,2067,2022-11-25 11:26:18,171.25,172.95,172.100,-1.000,29.400,0.0,0.000,0.0
2070,2071,2068,2022-11-25 11:25:51,170.45,173.25,171.850,-1.000,28.919,0.0,0.000,0.0

In [7]:
abc = pd.DataFrame({
    'market_id': 1,
    'instrument_id': 1,
    'timestamp': datetime.datetime(2022, 1, 22, 16 ,0),
    'bid': 11,
    'ask': 11,
    'mid': 11,
    'delta': 11,
    'IV': 11,
    'gamma': 11,
    'thela': 11,
    'vega': 11
}, index=[0])
sql_core._add_data('market', abc)

In [17]:
pd.read_sql('select * from market', sql_core.connection)

,market_id,instrument_id,timestamp,bid,ask,mid,delta,IV,gamma,thela,vega
0,1,1,2022-01-22 16:00:00,11.0,11.0,11.00,11.000,11.000,11.0,11.000,11.0
1,2,1,2022-01-22 16:00:00,77.8,78.0,77.90,0.999,548.517,0.0,-0.046,0.0
2,3,1,2022-01-22 16:00:00,77.8,78.1,77.95,1.000,163.080,0.0,-0.020,0.0